.home {
    display:flex;
    flex-direction:rơw;
    width: 100%;
    height: 100%;
    background: white;
}

.text {
    display:flex;
    flex-direction: column;
    justify-content: top;
    align-items:left;
    color: black;
    padding: 3em;
}

.portraitImg {
    transform: scaleX(-1);
    width:20%;
    height: 20%;  
    margin-left:2em;
}

h2 {
    color: black;
    font-style: bold;
    font-size: 2.5rem;
    align-items: right;
    margin-left:0;
}

.subheading {
    margin-top:1.5rem;
    font-size:2rem;
}

.consultationLink {
    height:0;
    line-height:0;
    text-align:center;
    max-width:100%;
    font-size:1.4rem;
    padding: 1em;
    border-radius: 40px;
    color: black;
    background-color: white;
    text-decoration: none;
    border-right-style: dashed;
    border-left-style: dashed;
}

.consultationLink:hover {
    color: black;
    background-color: rgb(228, 225, 225);
}

.consultationLink:active{
    border-top-style:solid;
    border-bottom-style:solid;
    border-top-color:black
}
