.home {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: white;
}

.text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: black;
    padding: 3em;
}

.portraitImg {
 width:20%;
 height: 20%;  
}

h2 {
    color: black;
    font-style: bold;
}

.consultationButton {
    padding: 1em;
    border-radius: 40px;
    color: white;
    background-color: grey;
}

.consultationButton:hover {
    color: grey;
    background-color: rgb(204, 204, 204);
}
