.navbar {
    display:flex;
    flex-direction: row;
    max-width: 100%;
    border-bottom-style: solid;
    align-items: center;
    justify-content: center;
}

.navbar-content {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height:70px;
    font-size:1.2rem;
}


.logo {
    max-width: 10%;
    padding-left:1.5em;
}

.nav-link {
    padding: 1.5em;
    align-content: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-link:hover{
    color: #FF5757;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transform-origin: 0 100%;
}


